bin/
build/
target/
.project
.classpath
.settings
.idea
.DS_Store
*.iml
.vscode
*/bin/
*/build/
*/target/
*/.settings
*/.classpath
*/.project
*/log/
*/*.log
*/*.iml
*/*.log.zip
*/.DS_Store
*/node_modules/
/.gradle/
/galaxy-cloud-codev-web/front/node_modules/
galaxy-cloud-codev-api/.sts4-cache/classpath-data.json
galaxy-cloud-codev-biz/.sts4-cache/classpath-data.json
galaxy-cloud-codev-web/.sts4-cache/classpath-data.json
node_modules
